<a href="https://colab.research.google.com/github/hugozt/ufcrepository/blob/main/aulaaly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

areas = [hall, "hallway", kit, "kitchen", bed, bedroom]

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

house = [["hallway", hall],
       ["kitchen",kit],
       ["living room",liv]]
print(house)
type(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0]]

list

In [ ]:
fam = ["liz",1.73,"emma",1.68,"mom",1.71,"dad",1.89]
fam [3]
fam [-1]
fam[-2]
print("tamanho da lista",len(fam))
fam[:6]
fam[2:6]

tamanho da lista 8

['emma', 1.68, 'mom', 1.71]

In [ ]:
areas = ["hallway",11.25,"kitchen", 18.0,"living room",20.0, "bedroom", 10.75, "bathroom", 9.50]

print(areas[2])
print(areas[-1])
print(areas[5])

kitchen
9.5
20.0

In [ ]:
areas = ["hallway",11.25,"kitchen", 18.0,"living room",20.0, "bedroom", 10.75, "bathroom", 9.50]

eat_sleep_area = areas[3] + areas[-3]
print(eat_sleep_area)

28.75

In [ ]:
areas = ["hallway",11.25,"kitchen", 18.0,"living room",20.0, "bedroom", 10.75, "bathroom", 9.50]
downstairs = areas[:6]
upstairs = areas[6:]
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
#lista da lista
familia = [["hugo",1.72],["darlene", 1.60],["deci",1.68],["gabriel",1.65],["stefany",1.00]]
familia [0][1]
familia [1][0]

'darlene'

In [ ]:
house[1][-1]

18.0

In [ ]:
fam + ["me", 1.79]

In [6]:
x = ["a","b","c"]
y = x.copy()
y[1] = "z"
print(y)

print(x)

['a', 'z', 'c']
['a', 'b', 'c']

In [28]:
x = ["a","b","c"]
y = list(x)
y[1] = "z"
print(y)

print(x)

['a', 'z', 'c']
['a', 'b', 'c']

In [24]:
fam = ["liz",1.73,"emma",1.68,"mom",1.71,"dad",1.89]
print(fam)
fam[7] = 1.86
print(fam)
fam[0:2] = ["lisa", 1.74]
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]
['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]
['lisa', 1.74, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]

In [27]:
fam + ["me", 1.79]
print(fam)

fam_ext = fam + ["me", 1.79]
del(fam[2])
print(fam_ext)
print(fam)

['lisa', 1.74, 1.68, 'mom', 1.71, 'dad', 1.86]
['lisa', 1.74, 1.68, 'mom', 1.71, 'dad', 1.86, 'me', 1.79]
['lisa', 1.74, 'mom', 1.71, 'dad', 1.86]

In [7]:
x = ["a","b","c"]
y = x
y[1] = "z"
print(y)

print(x)

['a', 'z', 'c']
['a', 'z', 'c']

In [15]:
#questao 7
areas = ["hallway",11.25,"kitchen", 18.0,"living room",20.0, "bedroom", 10.75, "bathroom", 9.50]
areas[-1] = 10.50
areas[4] = "chill zone"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [20]:
#questao 8
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.5]
areas_1 = areas + ["poolhouse", 24.5]
areas_2 = areas_1 + ["garage", 15.45]
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [18]:
#questao 9
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
areas_copy = areas.copy()
areas_copy[0] = 5.0
print (areas)
print(areas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]